---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <!-- Open Graph properties -->
    <meta property="og:title" content="eLabFTW - Open Source Laboratory Notebook" />
    <meta property="og:url" content="https://www.elabftw.net" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.elabftw.net/img/elabftw-logo.png" />
    <meta property="og:description" content="A free and open source electronic laboratory notebook for experimental research." />

    <title>eLabFTW assets</title>

    <link rel="stylesheet" href="elabweb.css">
    {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
    {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
  </head>
  <body>
    <div id="main" class='container-fluid'>
      <div class='col-md-10 mx-auto'>
      <h1>eLabFTW logos</h1>
      <ul>
        <li><a href='img/elabftw-logo.png'>eLabFTW logo (PNG)</a></li>
        <li><a href='img/elabftw-logo.svg'>eLabFTW logo white (SVG)</a></li>
        <li><a href='img/elabftw-logo-only.svg'>eLabFTW logo only (SVG)</a></li>
        <li><a href='img/elabftw-logo-only-white.svg'>eLabFTW logo only white (SVG)</a></li>
      </ul>

      <h1>Gif</h2>
      <ul>
        <li><a href='img/view-edit.gif'>View/edit experiment (GIF)</a></li>
      </ul>
    </div>
    </div>
  </body>
</html>
