---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <!-- Open Graph properties -->
    <meta property="og:title" content="eLabFTW - Open Source Laboratory Notebook" />
    <meta property="og:url" content="https://www.elabftw.net" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.elabftw.net/img/elabftw-logo.png" />
    <meta property="og:description" content="A free and open source electronic laboratory notebook for experimental research." />

    <title>eLabFTW assets</title>

    <link rel="stylesheet" href="elabweb.css">
    {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
    {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
  </head>
  <body class='bg-light'>
    <div id="main" class='container-fluid'>
      <div class='mt-5 ml-5'>
        <h1 class='mb-5'>eLabFTW logos</h1>
        <div class='my-5'>
          <p>Looking for Deltablot logo ? <a href='https://www.deltablot.com/assets/'>Deltablot logo</a>.</p>
        </div>
        <div class='m-3 row'>
          <div class='col-md-6 p-3 text-center'>
            <a href='img/elabftw-logo.png'>
              <img src='img/elabftw-logo.png' alt='elabftw logo' />
            </a>
          </div>
          <div class='col-md-6 my-auto'>
            <a href='img/elabftw-logo.png'>PNG (432×131 - 8 ko)</a>
          </div>
        </div>

        <div class='m-3 row'>
          <div class='col-md-6 bg-dark rounded p-3 text-center'>
            <a href='img/elabftw-logo-white-800px.png'>
              <img src='img/elabftw-logo-white-178px.png' alt='elabftw logo white' />
            </a>
          </div>
          <div class='col-md-6 my-auto'>
            <a href='img/elabftw-logo-only-white-800px.png'>PNG (800×450px - 20 ko)</a><br>
            <a href='img/elabftw-logo-only-white.svg'>SVG (1920×1080px - 4 ko)</a>
          </div>
        </div>

        <div class='m-3 row'>
          <div class='col-md-6 p-3 text-center'>
            <a href='img/android-chrome-512x512.png'>
              <img src='img/android-chrome-100px.png' alt='elabftw logo only' />
            </a>
          </div>
          <div class='col-md-6 my-auto'>
            <a href='img/android-chrome-512x512.png'>PNG (512×512px - 36 ko)</a><br>
            <a href='img/elabftw-logo-only.svg'>SVG (1000×1000px - 4 ko)</a>
          </div>
        </div>

        <div class='m-3 row'>
          <div class='col-md-6 bg-dark rounded p-3 text-center'>
            <a href='img/elabftw-logo-only-white-512px.png'>
              <img src='img/elabftw-logo-only-white-100px.png' alt='elabftw logo white' />
            </a>
          </div>
          <div class='col-md-6 my-auto'>
            <a href='img/elabftw-logo-only-white-512px.png'>PNG (512×512px - 20 ko)</a><br>
            <a href='img/elabftw-logo-only-white.svg'>SVG (1000×1000px - 4 ko)</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
